.actionButtons-section button {
  width: 60px;
  height: 60px;
  background: #e2e2e2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  text-decoration: none;
  flex-direction: column;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}

.grid-card {
  background: #d6e6ff;
  color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px 10px 50px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 5px;
  gap: 20px;
}

.grid-card ul {
    padding: 0;
    margin: 0;
    width: 50%;
}

.grid-card li {
  list-style: none;
  padding: 4px 0;
}

/* Filter */
.filter-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  padding: 20px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-container > button {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.filter-container p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #333;
}
