/* Main */

.main-block {
}

.container {
  height: 100vh;
  position: sticky;
}

.main-block h2,
.main-block h3 {
  text-align: left;
}

.cards-img {
  width: 40%;
  margin: 5% 0 8% 0;
}

@keyframes rotate-diagonal-1-normal {0% { transform: rotate3d(1, 1, 0, 0deg); } 50% { transform: rotate3d(1, 1, 0, -180deg); } 100% { transform: rotate3d(1, 1, 0, -360deg);} }

.cards-img:hover {
  animation: rotate-diagonal-1-normal 3s ease 0s infinite normal none; 
}

.main-block button {
  align-items: baseline;
  margin-top: 10%;
  padding: 30px 40px;
}

/* Login */

.login-block {
  padding-top: 10px;
  height: 910px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-text-block {
  text-align: left;
  width: 100%;
}

.form-block {
  height: 400px;
  min-width: 600px;
  background: white;
  border-radius: 60px 60px 0 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -983px;
  width: 50%;
  padding: 5% 10%;
}

.form-block form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 10px;
}

.form-block p {
  color: black;
  text-align: center;
}

input {
  width: 350px;
  height: 70px;
}

button {
  width: 350px;
  height: 70px;
}
